/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    margin-top: 6%;
  }
  header .on-text {
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-transform: lowercase;
  }
  .online-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  .browse-btn {
    font-weight: 700;
    padding: 5px 34px;
    border-radius: 5px;
    border-color: #ededed;
    border: none;
  }
  .admin-browse {
    display: flex;
  }
  .admin-btn {
    font-weight: 700;

    padding: 5px 20px;
    border-radius: 5px;
    border-color: #ededed;
  }
}
