.domains {
  font-size: 20px;
  font-weight: 700;
  color: #7a7272;
}
.margin-content {
  margin-right: 20%;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    margin-top: 6%;
  }
  header .best-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: lowercase;
  }
  .dream-text {
    color: white;
    font-size: 13px;
    padding-right: 20px;
    line-height: 27px !important;
  }
  .domains {
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
  .generation-text {
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .find-icon {
    color: white;
  }
  .res-border {
    border: 1px solid white;
  }
  .content-size {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .margin-content {
    margin-right: 1%;
    margin-top: 20px;
  }
}
